<a href="https://colab.research.google.com/github/young950814/SPLIT-/blob/master/DSH_3(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import  numpy as np
import pandas as pd

In [0]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [0]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [0]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
data[1]

0.5

In [0]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [0]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [0]:
data['b']

0.5

In [0]:
data = pd.Series([0.25,0.5,0.75,1.0], index=[2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [0]:
data[5]

0.5

In [0]:
population_dict={'California':38332521, 'Texas':26448193, 'New York':19651127,
                'Florida':19552860, 'Illinois':12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [0]:
population['California']

38332521

In [0]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
#pd.Series(data, index=index): prototype

In [0]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [0]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [0]:
pd.Series({2:'a',1:'b',3:'c'})

1    b
2    a
3    c
dtype: object

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [0]:
area_dict = {'California':42397,'Texas':695662,'New York':141297,
            'Florida':170312,'Illinois':149995}
area = pd.Series(area_dict)
area

California     42397
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [0]:
states = pd.DataFrame({'population':population,
                      'area':area})
states

              area  population
California   42397    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [0]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [0]:
states.columns

Index(['area', 'population'], dtype='object')

In [0]:
states['area']

California     42397
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [0]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [0]:
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [0]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [0]:
pd.DataFrame({'population':population,
             'area':area})

              area  population
California   42397    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [0]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar'],
            index=['a','b','c'])

        foo       bar
a  0.573823  0.342256
b  0.475210  0.841280
c  0.319898  0.544244

In [0]:
A = np.zeros(3, dtype=[('A','i8'),('B','f8')]) #이 dtype은... 첫번째가 int 두번째가 float이란 건가
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [0]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [0]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [0]:
ind[1]

3

In [0]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [0]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [0]:
ind[1] = 0

TypeError: ignored

In [0]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [0]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [0]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [0]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [0]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [0]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [0]:
indA.difference(indB)

Int64Index([1, 9], dtype='int64')

In [0]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')