<a href="https://colab.research.google.com/github/young950814/SPLIT-/blob/master/DSH_3(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# mask와 sentinel의 차이가 잘 이해되지 않는 것 같음.. mask: 따로 value 지정?, sentinel: NaN? 특정 데이터 타입?
# 어쨌든 numpy에서는 sentinel을 주로 쓴다고..

In [0]:
import numpy as np
import pandas as pd

In [0]:
vals1=np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [0]:
for dtype in ['object', 'int']:
  print('dtype =', dtype)
  %timeit np.arange(1E6, dtype=dtype).sum()
  print()

dtype = object
10 loops, best of 3: 77.4 ms per loop

dtype = int
100 loops, best of 3: 2.24 ms per loop

In [0]:
vals1.sum()

TypeError: ignored

In [0]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype #NaN은 float다.

dtype('float64')

In [0]:
1 + np.nan

nan

In [0]:
0 + np.nan

nan

In [0]:
vals2.sum(), vals2.min(), vals2.max()

/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:29: RuntimeWarning: invalid value encountered in reduce
  return umr_minimum(a, axis, None, out, keepdims)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:26: RuntimeWarning: invalid value encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims)

(nan, nan, nan)

In [0]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2) #ignores nan

(8.0, 1.0, 4.0)

In [0]:
pd.Series([1, np.nan, 2, None]) # None->NaN

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [0]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [0]:
x[0] = None #up?casts 1 to floating point
x

0    NaN
1    1.0
dtype: float64

In [0]:
#isnull() ->generates boolean mask (notnull()for opposite effect)
#dropna() ->return a filtered version of the data
#fillna() ->return a copy of the data with missing values filled or imputed

In [0]:
data = pd.Series([1, np.nan, 'hello', None])

In [0]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [0]:
data[data.notnull()] #boolean mask used directly as a Series index

0        1
2    hello
dtype: object

In [0]:
data.dropna()

0        1
2    hello
dtype: object

In [0]:
df = pd.DataFrame([[1,np.nan,2],
                  [2,3,5],
                  [np.nan,4,6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [0]:
# in DataFrame, can only drop full rows or columns.
df.dropna() #drops all rows with any null values

     0    1  2
1  2.0  3.0  5

In [0]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [0]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [0]:
df.dropna(axis='columns', how='all') #모두 NaN만 있는 column을 없앤다.

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [0]:
df.dropna(axis='rows', thresh=3) #null이 아닌 값이 세 개 이상 있어야 남는다

     0    1  2   3
1  2.0  3.0  5 NaN

In [0]:
data = pd.Series([1,np.nan,2,None,3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [0]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [0]:
#forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [0]:
#back-fill
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [0]:
#For DataFrames, you can specify an axis
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [0]:
df.fillna(method='ffill')

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN

In [0]:
df.fillna(method='bfill')

     0    1  2   3
0  1.0  3.0  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN