<a href="https://colab.research.google.com/github/young950814/SPLIT-/blob/master/DSH_3(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1.0],
                index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [0]:
data['b']

0.5

In [0]:
'a' in data

True

In [0]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [0]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [0]:
data['e']=1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [0]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [0]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [0]:
# masking
data[(data>0.3) & (data<0.8)]

b    0.50
c    0.75
dtype: float64

In [0]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [0]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [0]:
# explicit index when indexing
data[1]

'a'

In [0]:
#implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

In [0]:
# the 'loc' attribute allows indexing and slicing that always references the explicit index

data.loc[1]

'a'

In [0]:
data.loc[1:3]

1    a
3    b
dtype: object

In [0]:
# the 'iloc' attribute allows indexing and slicing that always references the implicit Python-style index.

data.iloc[1]

'b'

In [0]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [0]:
# 'ix' is a hybrid.... equivalent to standard [] based indexing...
# "explicit is better than implicit"

In [0]:
area=pd.Series({'California':423967, 'Texas':695662,
               'New York':141297, 'Florida':170312,
               'Illinois':149995})
pop=pd.Series({'California':38332521, 'Texas':26448193,
              'New York':19651127, 'Florida':19552860,
              'Illinois':12882135})

data=pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [0]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [0]:
data.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [0]:
data.area is data['area']

True

In [0]:
data.pop is data['pop'] # This is false because DataFrame has a pop() method. Column assignment via attribute not preferable

False

In [0]:
data['density']=data['pop'] / data['area'] #add new column
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [0]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01]])

In [0]:
data.T

           California       Florida      Illinois      New York         Texas
area     4.239670e+05  1.703120e+05  1.499950e+05  1.412970e+05  6.956620e+05
pop      3.833252e+07  1.955286e+07  1.288214e+07  1.965113e+07  2.644819e+07
density  9.041393e+01  1.148061e+02  8.588376e+01  1.390767e+02  3.801874e+01

In [0]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [0]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [0]:
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [0]:
data.loc[:'Illinois',:'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [0]:
data.ix[:3,:'pop'] #deprecation warning. iloc이나 loc 중 하나를 쓰라는데

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [0]:
data.loc[data.density>100, ['pop','density']] #density=pop/area

               pop     density
Florida   19552860  114.806121
New York  19651127  139.076746

In [0]:
data.iloc[0,2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [0]:
# indexing refers to columns, while slicing refers to rows.. 뒤엔 다 slicing

In [0]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [0]:
data[1:3]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [0]:
data[data.density>100]

            area       pop     density
Florida   170312  19552860  114.806121
New York  141297  19651127  139.076746